<%- include('../partials/head') %>
<div x-data="{show: false}">

    <h1 x-on:click="show = !show"><%= pig.name %></h1>
    <h2 x-show="show"><%= pig.age %></h2>

</div>
<div id="form">

</div>


<button hx-get="/pigs/edit/<%=index%>" hx-trigger="click" hx-target="#form" hx-swap="innerHTML">Edit</button>





<form action="/pigs/<%=index%>?_method=delete" method=post>
<input type="submit" value="delete">
</form>